.typo_h1 {
  font-size: $typo_h1;
}

.typo_h2 {
  font-size: $typo_h2;
}

.typo_h3 {
  font-size: $typo_h3;
}

.typo_h4 {
  font-size: $typo_h4;
}

.typo_h5 {
  font-size: $typo_h5;
}

.typo_h6 {
  font-size: $typo_h6;
}

.typo_p {
  font-size: $typo_p;
}

ul, ol, dd, p, figure, table, fieldset, hr {
  margin:0;
  margin-bottom: $margin;
}

blockquote {
  margin: $margin_large 0;
  padding-left: 2rem;
  
  .icon:first-child {
    font-size: $margin_large;
    line-height: 1;
    margin-left: -2rem;
  }
}

.header, h1, h2, h3, h4, h5, h6 {
  line-height: $heading-line-height;
  margin-bottom: $margin;
  color: $heading-font-color;
  font-weight: 600;
  margin-top: $margin_large;
}

h1 {
  font-size: $typo_h1;
}

h2, h4, h5, h6 {
  font-size: $typo_h3;  
}

h3 {
  font-size: $typo_p;
  color: $base-font-color;
  font-weight: bolder;
  margin-bottom: 0.1rem;
}

@media only screen and (max-width: $large_screen) {
  .typo_h1 {
    font-size: $m_typo_h1;
  }

  .typo_h2 {
    font-size: $m_typo_h2;
  }

  .typo_h3 {
    font-size: $m_typo_h3;
  }

  .typo_h4 {
    font-size: $m_typo_h4;
  }
  
  h1 {
    font-size: $m_typo_h1;
  }

  h2, h4, h5, h6 {
    font-size: $m_typo_h3;  
  }
  
  h3 {
    font-size: $typo_p;
    color: $base-font-color;
    margin-bottom: 0.1rem;
  }
}