.sg_doc {
  position: relative;
  
  .sg_contain {
    h1 {
      margin-bottom: $margin_massive;
    }

    h1:not(:first-child) {
      margin-top: $margin_massive;
      border-top: $base-border;
      padding-top: $margin_massive;
    }
    
    > *:last-child {
      margin-bottom: $margin_massive;
    }
    
    @media only screen and (max-width: $large_screen) {
      h1 {
        margin-bottom: $m_margin_massive;
      }
      
      h1:not(:first-child) {
        margin-top: $m_margin_massive;
        padding-top: $m_margin_massive;
      }
    }
  }
}