.sg_masthead {
  padding: $margin_massive 0;
  margin-bottom: $margin_massive;
  border-bottom: $base-border;
  color: $heading-font-color;
  
  @media only screen and (max-width: $large_screen) {
    padding: $m_margin_massive 0;
    margin-bottom: $m_margin_massive;
  }
  
  .sg_contain {
    display: flex;
    flex-direction: row;
    
    @media only screen and (max-width: $extended_screen) {
      flex-direction: column;
    }
  }

  .head {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: $margin;
    font-weight: bold;
    text-transform: capitalize;
  }

  .sub_title {
    margin-bottom: $margin;
  }
}