<a href="javascript:void(0)" class="sg_sidebar_button"><i class="icon" data-icon="menu"></i></a>
<div class="sg_sidebar">  
  <a href="{{ site.baseurl }}/index.html" class="logo">
    <div class="icon"><img src="{{ site.baseurl }}/styleguide/branding/png/styleguide-64x64.png"></div>
    <div class="title">{{ site.sg_title }}</div>
  </a>
  <ul>
    <li><a href="{{ site.baseurl }}/index.html"{% if page.url == '/' %} class="active"{% endif %}>Home</a></li>
  </ul>
  {% assign index-general = site.docs | where: 'type', 'index-general' | sort: 'url' %}
  {% assign index-business = site.docs | where: 'type', 'index-business' | sort: 'url' %}
  {% assign index-internet-and-it = site.docs | where: 'type', 'index-internet-and-it' | sort: 'url' %}
  {% assign index-all = index-general | concat: index-business | concat: index-internet-and-it %}
  <div class="group">
    <div class="group_title">Styles</div>
    <ul>{% for index in index-all %}
      <li><a href="{{ site.baseurl }}{{ index.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ index.title }}</a></li>
    {% endfor %}</ul>
  </div>
  {% assign guides = site.docs | where: 'type', 'guides' | sort: 'url' %}
  <div class="group">
    <div class="group_title">Guides</div>
    <ul>{% for guide in guides %}
      <li><a href="{{ site.baseurl }}{{ guide.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ guide.title }}</a></li>
    {% endfor %}</ul>
  </div>
</div>